@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap');

body{
  margin: 0;
  font-family: "noto sans","sans serif";
}

body * {
  box-sizing: border-box;
}
.main-register{
  width: 100vw;
  height: 100vh;
  background: #201b2c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form{
  width: 100%;
}

.left-register{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-register > h1{
  font-size: 3vw;
  color: #77ffc0;
}

.left-register-image{
  width: 35vw;
}

.right-register{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-register{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column ;
  padding: 30px 35px;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0 10px 40px #00000056;
}

.card-register > h1{
  color: #00ff88;
  font-weight: 800;
  margin: 0;
}

.textfield{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px;
  width: 100%;
  margin-left: 0;
}

.textfield > input {
  width: 100%;
  border:none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color:#f0ffffde;
  font-size: 12pt;
  box-shadow: 0 10px 40px #00000056;
  outline: none;
}

.textfield > label{
  color:#f0ffffde;
  margin-bottom: 10px;
}

.textfield > input::placeholder{
  color: #f0ffff94;

}

.btn-register{
  font-size: large;
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  margin-left: 0%;
  border-radius:8px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;
}

.register-to-login{
  color: #f0ffff94;
}

.register-to-login-link {
  text-decoration: none;
  color: #77ffc0;
}

@media only screen and (max-width: 950px){
  .card-register{
    width: 85%;
  }
}

@media only screen and (max-width: 600px){
  .main-register{
    flex-direction: column;
  }
  .left-register > h1{
    display: none;
  }

  .left-register{
    width: 100%;
    height: auto;
  }

  .right-register{
    width: 100%;
    height: auto;
  }

  .left-register-image{
    width: 50vw;
  }
  .card-register{
    width: 90%;
  }
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}